*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    height: 100vh;
    background: radial-gradient(#f1e1c2,#fcbc98);
}
.max{
    max-width: 1200px;
    margin: auto;
}
.nav{
    display: flex;
    align-items: center;
    padding: 10px 40px;
}
.navbar{
    flex: 1;
}
.navbar ul{
    text-align: right;
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    margin-right:20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    transition: border-bottom 0.1s ease-in-out;
}
.navbar ul li a:hover{
    border-bottom: 2px solid black;
}
.welcome{
    margin-top: 10px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    padding: 40px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.left h2{
    margin-bottom: 20px;
}
.left h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.right{
    flex-basis: 50%;
    display: flex;
}
.login{
    margin-top: 20px;
    padding: 10px 20px;
    width: 150px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 7px 1px;
    font-size: 15px;
}
.login:hover{
    transform: translateY(-2px);
}
.btn{
    width: 100%;
    display: flex;
}
.margin{
    margin-left: 20px;
}

/* footer */

.back{
    background: black;
}
.footer{
    display: flex;
    padding: 20px;
}
.col{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.col p{
    padding: 20px 80px;
    color: grey;
}
.col ul{
    list-style: none;
}
.col ul li{
    margin-bottom: 10px;
}
.col ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.col ul li a:hover{
    text-decoration: underline;
}
.copy{
    padding: 20px;
    text-align: center;
    color: grey;
}